cornice==0.16.2
gunicorn==19.1.1
pyramid==1.5
WebOb==1.4.1
requests==2.7
simplejson==3.4
SQLAlchemy==0.9.4
unittest2==0.5.1
zope.component==4.2.1
configparser==3.5.0b2
https://github.com/mozilla-services/mozservices/archive/706e09b78a78ebff4f71dcaca2fd7b68fa2885fb.zip
https://github.com/mozilla-services/tokenserver/archive/1.2.16.zip
https://github.com/mozilla-services/server-syncstorage/archive/1.5.13.zip
