cornice==0.16.2
gunicorn==19.1.1
pyramid==1.5
WebOb==1.4.1
requests==2.7
simplejson==3.4
SQLAlchemy==0.9.4
unittest2==0.5.1
zope.component==4.2.1
configparser==3.5.0b2
https://github.com/mozilla-services/mozservices/archive/e00e1b68130423ad98d0f6185655bde650443da8.zip
https://github.com/mozilla-services/tokenserver/archive/92361b0e7b0bff996a8fff9c894c7be850d12d16.zip
https://github.com/mozilla-services/server-syncstorage/archive/1.5.5.zip
