cornice==0.16.2
gunicorn==19.1.1
pyramid==1.5
WebOb==1.4.1
requests==2.10
simplejson==3.4
SQLAlchemy==0.9.4
unittest2==0.5.1
zope.component==4.2.1
configparser==3.5.0b2
mozsvc==0.9
https://github.com/mozilla-services/tokenserver/archive/1.2.23.zip
https://github.com/mozilla-services/server-syncstorage/archive/f0190c0eb730e2cd1fbaf89f95c50114b6289042.zip
